<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
<!--     
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}">
    <meta name="twitter:site" content="DanielSilv9">
    <meta name="twitter:creator" content="DanielSilv9">
    <meta name="twitter:image" content="https://blog.danielssilva.dev/img/coast.jpeg">

    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="https://blog.danielssilva.dev/img/coast.jpeg">
    <meta property="og:image:secure_url" content="https://blog.danielssilva.dev/img/coast.jpeg"> -->

    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
    <meta name="twitter:image" content="https://blog.danielssilva.dev/img/coast.jpeg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name=twitter:creator content="@DanielSilv9">
    <meta name=twitter:title content="Daniel Silva's blog">
    <meta property="twitter:site" content="@DanielSilv9" />

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- <meta property="og:description" content="{{ if .IsHome }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}"> -->
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <!-- <meta property="og:description" content="Covers SQL Server 2000-2022"> -->
    <meta property="og:image" content="https://blog.danielssilva.dev/img/coast.jpeg">



    {{ partial "head.html" . }}

  </head>

  <body>
    {{ partial "navigation.html" . }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
  </body>
</html>
